<ion-view title="Record">
  <ion-content class="padding ">

    <h1 ng-click="showMoods = !showMoods">How are you</h1>
<ul ng-show="!showMoods" class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Happy
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Sad
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Excited
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Down
  </li>

</ul>


<button class="button button-full button-positive">
  Record
</button>

<!-- <div class="list"> -->
<!--   <label class="item item&#45;input item&#45;floating&#45;label"> -->
<!--     <span class="input&#45;label">Your mood</span> -->
<!--     <select placeholder="Your mood"> -->
<!--       <option>Blue</option> -->
<!--       <option selected>Green</option> -->
<!--       <option>Red</option> -->
<!--     </select> -->
<!--     <input type="text" placeholder="First Name"> -->
<!--   </label> -->
<!--   <label class="item item&#45;input item&#45;floating&#45;label"> -->
<!--     <span class="input&#45;label">Last Name</span> -->
<!--     <input type="text" placeholder="Last Name"> -->
<!--   </label> -->
<!--   <label class="item item&#45;input item&#45;floating&#45;label"> -->
<!--     <span class="input&#45;label">Email</span> -->
<!--     <input type="text" placeholder="Email"> -->
<!--   </label> -->
<!-- </div> -->
<!--     <div class="list"> -->
<!--  -->
<!--       <label class="item item&#45;input item&#45;select"> -->
<!--         <div class="input&#45;label"> -->
<!--           Lightsaber -->
<!--         </div> -->
<!--       </label> -->
<!--  -->
<!--     </div> -->
      </ion-content>
</ion-view>
