<ion-view title="Record">
  <ion-content class="padding ">

    <p ng-click="showMoods = !showMoods">How are you</h1>
    <ul ng-show="!showMoods" class="list">

      <li class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      Happy
      </li>

      <li class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      Sad
      </li>

      <li class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      Excited
      </li>

      <li class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      Down
      </li>

    </ul>


    <button class="button button-full button-positive">
      Record
    </button>

  </ion-content>
</ion-view>
